.section {
  // reserved
}

.section__card {
  background-color: $white;
  display: flex;
  justify-content: center;
  padding: $grid-gap * 3 0;
  position: relative;

  &:first-of-type {
    background-color: $cararra;
    margin-top: $grid-gap * 4.25; // account for section__mark
  }
}

.section__mark {
  background: url('../svg/mark.svg') center center/contain no-repeat;
  display: block;
  height: 90px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-decoration: none;
  transform: translateY($grid-gap * -7.25);
  width: 78px;
}

.section__card-content {
  padding: 0 var(--spacing);
  width: 100%;
}
