.toasts {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  max-width: 300px;
  padding: 0;
  position: fixed;
  right: calc(var(--spacing) / 2);
  top: calc(var(--spacing) / 2);
  z-index: 10;
}

.toast {
  @include font($size: 1.8rem, $weight: 400, $color: $mako);
  align-items: center;
  animation: toastIn 250ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards,
    toastOut 300ms ease-out 4700ms forwards;
  background-color: $white;
  box-shadow: inset 0 0 0 1px $mako, inset 4px 0 $mako,
    4px 4px 8px rgba($mako, 0.2);
  display: flex;
  margin: 0;
  overflow: hidden;
  padding: $grid-gap * 0.75 $grid-gap;
  position: relative;

  & + & {
    margin-top: $grid-gap;
  }

  &::after {
    animation: toastTimer 4450ms linear 250ms forwards;
    background: rgba($mako, 0.2);
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
  }

  @keyframes toastIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes toastTimer {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes toastOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.toast__icon {
  fill: currentColor;
  height: 24px;
  margin-right: $grid-gap/2;
  order: -1;
  width: 24px;
}
