$colors: (
  black:
    (
      primary: #242629,
      lighten-1: #333437,
      lighten-2: #4a4c51,
      lighten-3: #5a5e65
    ),
  white:
    (primary: #fafafa, darken-1: #efefef, darken-2: #c7cad0, darken-3: #979aa0),
  green:
    (
      primary: #1cccb6,
      darken: #149989,
      lighten-1: #41d6c5,
      lighten-2: #6fe0d3,
      lighten-3: #9febe2
    ),
  blue:
    (
      primary: #22a8fa,
      darken: #218bcb,
      lighten-1: #53bafe,
      lighten-2: #88d0fe,
      lighten-3: #c2e7ff
    ),
  orange:
    (
      primary: #f8a141,
      darken: #e48528,
      lighten-1: #ffba74,
      lighten-2: #ffd1a1,
      lighten-3: #ffe8cf
    ),
  purple:
    (
      primary: #8870f7,
      darken: #7563d6,
      lighten-1: #9c8cfb,
      lighten-2: #bbb0fd,
      lighten-3: #ddd7fe
    ),
  red:
    (
      primary: #ff574e,
      darken: #bc433f,
      lighten-1: #fe7c75,
      lighten-2: #ffbdb9,
      lighten-3: #fedddc
    ),
  yellow:
    (
      primary: #eadb2e,
      darken: #d9cb29,
      lighten-1: #f0e455,
      lighten-2: #fef9b8,
      lighten-3: #fdfbdc
    )
);
