// General Text Mixin
@mixin font(
  // $name: false,
  $size: false,
  $color: false,
  $weight: false,
  $style: false,
  $transform: false,
  $line-height: false,
  $letter-spacing: false
) {
  font-family: brandon-grotesque, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Font Size (Fluid type < 1200px)
  @if $size {
    @include font-size($size);
  }

  // Font Color
  @if $color {
    color: $color;
  }

  // Font Weight
  @if $weight {
    font-weight: $weight;
  }

  // Font Style
  @if $style {
    font-style: $style;
  }

  // Text Transform
  @if $transform {
    text-transform: $transform;
  }

  // Line Height
  @if $line-height {
    line-height: $line-height;
  }

  // Letter Spacing
  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }
}
