@mixin wrapper {
  margin: 0 auto;
  max-width: $site-width;
  padding: 0 var(--spacing);
  width: 100%;
}

@mixin position(
  $position: relative,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  bottom: $bottom;
  left: $left;
  position: $position;
  right: $right;
  top: $top;
}

@mixin hide-text {
  color: transparent;
  font-size: 0;
  text-indent: 101%;
  white-space: nowrap;
}
