@mixin wrapper {
  margin: 0 auto;
  max-width: $site-width;
  padding: 0 var(--spacing);
  width: 100%;
}

@mixin position(
  $position: relative,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  bottom: $bottom;
  left: $left;
  position: $position;
  right: $right;
  top: $top;
}

@mixin visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
