// For SVG's that will change color, use rgba for
// fill in order to maintain cross-browser support
// by converting hex to rgba

/* =========================================================================
--------------------------------Icon Mixins---------------------------------
========================================================================= */

@mixin icon-example-expand($color: red, $height: 7px, $width: 12px) {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.82 5.14'%3E%3Cdefs%3E%3Cstyle%3E.a{fill:#{rgba(($color),0.99999)};}%3C/style%3E%3C/defs%3E%3Ctitle%3Eexpand%3C/title%3E%3Cpath class='a' d='M8.73.94,4.61,5.05a.28.28,0,0,1-.41,0L.09.94A.31.31,0,0,1,0,.73.31.31,0,0,1,.09.53L.53.09A.29.29,0,0,1,.73,0a.31.31,0,0,1,.2.09L4.41,3.56,7.88.09a.28.28,0,0,1,.41,0l.44.44a.31.31,0,0,1,.09.2A.31.31,0,0,1,8.73.94Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  height: $height;
  width: $width;
}
