@mixin wrapper {
  width: 100% - $site-gutter * 2;
  max-width: $site-width;
  margin: 0 auto;
}

@mixin position(
  $position: relative,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin hide-text {
  color: transparent;
  font-size: 0;
  white-space: nowrap;
  text-indent: 101%;
}
