// Colors
$white: #fff;
$gallery: #eee;
$slate-gray: #6f7f8f;
$shark: #262628;

// Breakpoints
$breakpoints: (
  xs: 320px,
  sm: 550px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);

// Settings
$site-width: 1024px;
$site-gutter: 12.5%;
$site-delay: 250ms;
$grid-gap: 1.6rem;
