h1 {
  @include text('raleway', 48, 400, map-deep-get($colors, black, primary));
  display: inline-flex;
  align-items: center;

  @include media('>=md', '<=lg') {
    color: #fff;
    background-color: #647;
  }

  @include media('>=lg') {
    background-color: #237484;
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: $gridGap;
  fill: currentColor;
}
