header.header
  .wrapper
    .header__content
      h3.header__tagline
        span(data-visibility='hidden') Badges For Badges' Sake
        +inline-svg('tagline', 'header__svg')
      h1.header__title
        span(data-visibility='hidden') For The Badge
        +inline-svg('title', 'header__svg')
      h2.header__subtitle
        span(data-visibility='hidden') Generator
        +inline-svg('subtitle', 'header__svg')
      .header__chevrons
        +inline-svg('chevron-down', 'header__chevron')
        +inline-svg('chevron-down', 'header__chevron')
