section.section
  .wrapper
    .section__card
      a.section__mark(href='https://for-the-badge-ef.netlify.app/')
      .section__card-content
        include _form.pug
    .section__card
      .section__card-content
        include _preview.pug
