// Media Query Breakpoint Map (Modify as needed)
$breakpoints: (
    xs: 320px,
    sm: 650px,
    md: 768px,
    lg: 1024px,
    xl: 1440px
);

// NORMALIZE
@import 'normalize-scss/sass/normalize'; // loaded from node_modules

// VENDORS
@import 'animate-scss/animate.scss'; // loaded from node_modules
@import 'include-media/dist/_include-media.scss'; // loaded from node_modules
@import 'vendors/viewport-text';
@import 'vendors/link-underline';

// HELPERS
@import 'helpers/variables';
@import 'helpers/colors';
@import 'helpers/text';
@import 'helpers/utilities';

// PARTIALS
@import 'partials/example';
// PAGES
// BOX-SIZING - FONT-SIZING PRESETS
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1rem; // = 16px default font size
    margin: 0;
    min-width: 320px;
    overflow-x: hidden;
    width: 100%;
}

// Text Highlight Color
::selection {
    background: map-deep-get($colors, blue, primary);
}

// Accessibility focus outline
button,
a {
    &:focus {
        outline: 1px dotted rgba(map-deep-get($colors, white, darken-3), 0.7); // outline-offset: 2px;
    }
    &::-moz-focus-inner {
        border: 0; // color: $green;
    }
}

// Hide inline spritesheet
.svg__spritesheet {
    display: none;
}
