// NORMALIZE
@import 'normalize-scss/sass/normalize'; // loaded from node_modules

// VENDORS
@import 'include-media/dist/_include-media.scss'; // loaded from node_modules
@import 'vendors/viewport-text';
@import 'vendors/link-underline';

// HELPERS
@import 'helpers/variables';
@import 'helpers/colors';
@import 'helpers/text';
@import 'helpers/utilities';

// PARTIALS
// @import 'partials/example';
// PAGES
// BOX-SIZING - FONT-SIZING PRESETS
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;
  font-size: 1rem; // = 16px default font size
}

// Text Highlight Color
::selection {
  background: map-deep-get($colors, blue, primary);
}

// Hide inline spritesheet
.svg__spritesheet {
  display: none;
}
