// NORMALIZE
@import "normalize";  // loaded from node_modules

// VENDORS
@import "include-media"; // loaded from node_modules
@import "vendors/viewport-text";
@import "vendors/link-underline";

// MODULES & VARIABLES
@import "modules/svgs";
@import "modules/text";
@import "modules/utilities";
@import "modules/variables";

// PARTIALS
@import "partials/menu";

// BOX-SIZING - FONT-SIZING PRESETS
html {
  box-sizing: border-box;
  font-size: 62.5%; // Scales 1 rem unit to 10px
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-size: 1.4rem; // = 14px default font size
    min-width: 300px;
    margin: 0;
}
