extends templates/_default

block includes
  include layouts/includes/_mixins.pug

//- Page Head Variables
block vars
  - var title = 'For The Badge Generator';
  - var description = 'We don’t develop for the money, power, fame, or codebabes. We do it For the Badge. It all started because of an obsession with two words: “build passing”. It all ended with this: badges, for badges’ sake. Build your own now with our “For The Badge Generator”';

block content
  .svg__spritesheet
    include ./layouts/includes/inline.svg

  //- Toasts container
  ul.toasts

  //- Page
  main.main
    include layouts/general/_header.pug
    input#test(type='file' accept='.svg')
    include layouts/general/_sections.pug

  //- Footer
  include layouts/general/_footer.pug
