<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Setup</title>
        <% include partials/head %>
        <link rel='stylesheet' href='style.min.css'>
    </head>
    <body>
        <!-- PLACE CONTENT HERE -->
        <h1>Hello World</h1>
        <img src="images/example.png" alt="">
        <div></div>
        <!-- PLACE SCRIPTS HERE -->
        <script src="scripts.js"></script>
    </body>
</html>
