extends templates/_default

block includes
  include layouts/includes/_mixins.pug

//- Page Head Variables
block vars
  - var title = 'Some New Site';
  - var description = '';

block content
  .svg__spritesheet
    include ./layouts/includes/inline.svg

  .wrapper
    .badge
      p.badge__tagline(data-type='primary') Fuck It
      p.badge__tagline(data-type='secondary') Ship It

    .temp

    form
      input.input(type='text' value='I I I I I I I I I I I I I')
      input.input(type='text')
      input.color(type='color' value='#5593c8')
      input.color(type='color' value='#a7bfc1')
      input.btn(type='submit' value='Generate SVG' name='submit')

    svg.shadowSVG(xmlns='http://www.w3.org/2000/svg' height='35')
      defs
        style.
          @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto:wght@500&display=swap');

          .shadowSVG__text {
            font-size: 12px;
            fill: #000;
            letter-spacing: 0.22em;
          }

          .shadowSVG__text:nth-of-type(1) {
            font-family: Roboto, sans-serif;
            font-weight: 500;
          }

          .shadowSVG__text:nth-of-type(2) {
            font-family: Montserrat, sans-serif;
            font-weight: 800;
          }

      rect.shadowSVG__rect(x='0' y='0' width='0' height='35')
      rect.shadowSVG__rect(x='0' y='0' width='0' height='35')
      path.test(fill='red')
      text.shadowSVG__text(x='13' y='22')
      text.shadowSVG__text(x='13' y='22')

  //- Footer
  include layouts/general/_footer.pug
