extends templates/_default

block includes
  include layouts/includes/_mixins

//- Page Head Variables
block vars
  - var title = '';
  - var description = '';

block content
  .svg__spritesheet
    include ./layouts/includes/inline.svg

  //- Footer
  include layouts/general/_footer
