<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Setup</title>
        <% include partials/_head %>
    </head>
    <body>
        <!-- PLACE CONTENT HERE -->
        <h1>Hello World</h1>
        <img src="./images/example.png" alt="">
        <!-- PLACE SCRIPTS HERE -->
        <script src="scripts.js"></script>
    </body>
</html>
