// NORMALIZE (loaded from node_modules)
@import 'normalize-scss/sass/normalize';

// VENDORS (loaded from node_modules)
@import 'include-media/dist/_include-media';
@import 'rfs/scss';

// HELPERS
@import 'helpers/variables';
@import 'helpers/typography';
@import 'helpers/utilities';

// PARTIALS
// @import 'partials/example';

// BOX-SIZING - FONT-SIZING PRESETS
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1rem; // = 16px default font size
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
}

// Hide inline spritesheet
.svg__spritesheet {
  display: none;
}

.wrapper {
  @include wrapper;
}

.test {
  display: block;
  fill: red;
  height: 100%;
  width: 100%;
}
