// NORMALIZE (loaded from node_modules)
@import 'normalize-scss/sass/normalize';

// VENDORS (loaded from node_modules)
@import 'include-media/dist/_include-media';
@import 'rfs/scss';

// HELPERS
@import 'helpers/variables';
@import 'helpers/typography';
@import 'helpers/utilities';

// PARTIALS
// @import 'partials/example';

// BOX-SIZING - FONT-SIZING PRESETS
html {
  box-sizing: border-box;
  font-size: 62.5%; // Scales 1 rem unit to 10px
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1rem; // = 16px default font size
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
}

// Hide inline spritesheet
.svg__spritesheet {
  display: none;
}

.wrapper {
  @include wrapper;
  margin: var(--spacing) 0;
  position: relative;
}

h1 {
  @include font($name: 'montserrat', $size: 5rem, $weight: 800, $color: black);
  display: block;
  height: 100%;
  width: 100%;
}

// svg {
//   display: none;
//   opacity: 0.5;
//   position: absolute;
//   top: 0;
// }

.badge {
  align-items: center;
  align-items: stretch;
  display: flex;
  height: 35px;
}

.badge__tagline {
  color: white;
  display: block;
  font-size: 12px;
  height: 35px;
  letter-spacing: 2.7px;
  margin: 0;
  padding: 0 13px;
  text-transform: uppercase;

  &[data-type='primary'] {
    @include font($name: 'roboto', $weight: 500);
    background-color: #a7bfc1;
    line-height: 35px;
  }

  &[data-type='secondary'] {
    @include font($name: 'montserrat', $weight: 800);
    background-color: #5593c8;
    line-height: 37px;
  }
}
