// NORMALIZE (loaded from node_modules)
@import 'normalize-scss/sass/normalize';

// VENDORS (loaded from node_modules)
@import 'include-media/dist/_include-media';
@import 'rfs/scss';

// HELPERS
@import 'helpers/variables';
@import 'helpers/typography';
@import 'helpers/utilities';

// PARTIALS
@import 'partials/header';

// BOX-SIZING - FONT-SIZING PRESETS
html {
  box-sizing: border-box;
  font-size: 62.5%; // Scales 1 rem unit to 10px
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $scooter;
  font-size: 1rem; // = 16px default font size
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
}

// Hide inline spritesheet
.svg__spritesheet {
  display: none;
}

.wrapper {
  @include wrapper;
  position: relative;
}

[data-visibility='hidden'] {
  @include visually-hidden;
}

.section__card {
  background-color: $white;
  border-radius: 50px;
  min-height: 150px;
  padding: 0 $grid-gap * 4;

  &:first-of-type {
    margin-top: $grid-gap * 4.25;

    &::before {
      background: url('../svg/mark.svg') center center/contain no-repeat;
      background-image: url('../svg/mark.svg');
      content: '';
      display: block;
      height: 90px;
      margin: auto;
      margin-bottom: $grid-gap * -4.25;
      transform: translateY($grid-gap * -4.25);
      width: 78px;
    }
  }

  & + & {
    margin-top: $grid-gap;
  }
}

.options {
  //
}
