include ../layouts/general/_head

//- If extra includes content is necessary per page
block includes

//- Define page variables here such as 'title' and 'description'
block vars

doctype html
html(dir='ltr' lang='en')
  head
    +headContent(title, description)
    block head

  body
    block content

    //- Scripts
    script(src='assets/js/scripts.js')

    //- If extra scripts are needed
    block scripts
